@{
    ViewBag.Title = "Home Page";
}



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <img id="imagen" src="~/Content/imagenes/batalla-epica-del-dragon-papel-pintado-2048x1536_26.jpg" />

    @*<div id="boton">
            <button type="button">hola</button>
        </div>*@
    <audio autoplay src="~/Content/audio/y2mate.com%20-%20Disturbed%20%20Stricken%20Video.mp3"></audio>
  
</div>
 
       
 
  
